<header>
  <%= render "sitewide/nav" %>
</header>

<main class="home-wrapper">
  <section class="home">
    <div class="intro">
      <h1>swat.</h1>
      <p>Crowd sourced records of greenhead fly sightings on the Massachusetts coast for an improved beach experience.</p>
      <button class="btn btn-primary" type="button" name="button">Add a sighting</button>
    </div>
  </section>
</main>
